@import '../styles/values';
@import '../styles/stars';
@import '../styles/card';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: $fz;
}
